{% extends '@StoreTemplate/Layout/_layout.html.twig' %}


{% form_theme form '@StoreTemplate/fields.html.twig' %}

{% block breadcrumb_container %}{% endblock breadcrumb_container %}

{% block content %}{% endblock content %}

{% block prefooter %}
    <div class="form">
        {{ form_start(form) }}
        <div class="grid">
            <legend><i class="fa fa-user"></i> {{ "template.store_template_bundle.user.edit.profile"|trans }}</legend>
            <div class="col-1-1">
                {{ form_row(form.company) }}
            </div>
            <div class="col-1-2">
                {{ form_row(form.firstname) }}
            </div>
            <div class="col-1-2">
                {{ form_row(form.lastname) }}
            </div>
            <div class="col-1-3">
                {{ form_row(form.companyName) }}
            </div>
            <div class="col-1-3">
                {{ form_row(form.vat) }}
            </div>
            <div class="col-1-3">
                {{ form_row(form.fiscalCode) }}
            </div>
            <div class="col-1-1">
                {{ form_row(form.email) }}
            </div>
            <div class="col-1-2">
                {{ form_row(form.password.first) }}
            </div>
            <div class="col-1-2">
                {{ form_row(form.password.second) }}
            </div>
            <p class="buttons">
                {{ form_row( form.send , { 'attr': {'class': 'button button-secondary' } } ) }}
            </p>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock prefooter %}

{% block foot_script %}
{{ parent() }}

<script type="text/javascript">

function showCorrectFields()
{
    var isCompany = $('#store_user_form_type_profile_full_company').is(":checked");
    $('#store_user_form_type_profile_full_firstname').parent().toggle(!(isCompany));
    $('#store_user_form_type_profile_full_lastname').parent().toggle(!(isCompany));

    $('#store_user_form_type_profile_full_companyName').parent().toggle(isCompany);
    $('#store_user_form_type_profile_full_vat').parent().toggle(isCompany);
    $('#store_user_form_type_profile_full_fiscalCode').parent().toggle(isCompany);
}

$( document ).ready(function() {
    showCorrectFields();
});

$('#store_user_form_type_profile_full_company').change(function() {
    showCorrectFields();
});

</script>
{% endblock foot_script %}


