{% extends 'AdminCoreBundle::Common/listComponent.html.twig' %}


{% set elcodi_context = {
    entity_type: 'order',
} %}

{% block title 'admin.order.list'|trans %}

{% block no_items
    lists.no_items(
        'admin.order.single'|trans,
        'admin.order.plural'|trans
    )
%}

{% block search_form %}
    <form class="search-form" method="GET" class="form" action="{{ path('search_admin_orders') }}">
        <div class="box pb-n">
            <ol>
                <li class="col-1-1">
                    <span class="mini-box">
                        <label>
                        Ricerca libera
                        </label>
                        {% if query == '_' %}{% set query = '' %}{% endif %}
                        <input type="text" name="q"  value="{{ query }}" placeholder="Ricerca ordini" style="width:20rem;">
                    </span>
                    <span class="mini-box">
                        <label>
                        Dalla data
                        </label>
                            <input type="date" name="dateFrom"  placeholder="From" title="From" value="{{ dateRange['from'] }}" />
                        </select>
                    </span>
                    <span class="mini-box">
                        <label>
                        Alla data
                        </label>
                            <input type="date" name="dateTo"  placeholder="To" title="To" value="{{ dateRange['to'] }}" />
                        </select>
                    </span>
                </li>

                <li class="col-1-3">
                    <div class="mini-box">
                        <label>
                        Stato ordine
                        </label>
                        <select name="orderState" class="filter" >
                            <option value="">Tutti</option>
                            <option value="paid" {% if orderState == 'paid' %} selected{% endif %}>Pagato</option>
                            <option value="unpaid" {% if orderState == 'unpaid' %} selected{% endif %}>Non pagato</option>
                        </select>
                    </div>
                </li>

                <li class="col-1-3">
                    <div class="mini-box">
                    Spedizione
                    <select name="shippingState" class="filter" >
                        <option value="">Tutti</option>
                        <option value="preparing" {% if shippingState == 'preparing' %} selected{% endif %}>Nuovo</option>
                        <option value="processed" {% if shippingState == 'processed' %} selected{% endif %}>In elaborazione</option>
                        <option value="in delivery" {% if shippingState == 'in delivery' %} selected{% endif %}>Spedito</option>
                    </select>
                    </div>
                </li>

                <li class="col-1-3">
                    <div class="mini-box">
                    Metodo pagamento
                    <select name="paymentMethod" class="filter">
                        <option value="">Tutti</option>
                        <option value="elcodi_plugin.free_payment.name" {% if paymentMethod == 'elcodi_plugin.free_payment.name' %} selected{% endif %}>Pagamento gratuito</option>
                        <option value="elcodi_plugin.paypal_web_checkout.name" {% if paymentMethod == 'elcodi_plugin.paypal_web_checkout.name' %} selected{% endif %}>PayPal</option>
                        <option value="elcodi_plugin.payment_braintree.name" {% if paymentMethod == 'elcodi_plugin.payment_braintree.name' %} selected{% endif %}>Braintree</option>
                        <option value="elcodi_plugin.payment_setefi.name" {% if paymentMethod == 'elcodi_plugin.payment_setefi.name' %} selected{% endif %}>Setefi</option>
                    </select>
                    </div>
                </li>

                <li class="col-1-3">
                    <div class="mini-box">
                    Email cliente
                    <input type="text" name="customerEmail" class="form-control" placeholder="Email" title="Email" value="{{ customerEmail }}" style="width:10rem" />
                    </div>
                </li>
                <li class="col-1-3">
                    <div class="mini-box">
                    Dall'ordine
                    <input type="text" name="idFrom" class="form-control" placeholder="Dall'ordine numero" title="Dall'ordine numero" value="{{ idRange['from'] }}" style="width:10rem" />
                    </div>
                </li>
                <li class="col-1-3">
                    <div class="mini-box">
                    All'ordine
                    <input type="text" name="idTo" class="form-control" placeholder="All'ordine numero" title="All'ordine numero" value="{{ idRange['to'] }}" style="width:10rem" />
                    </div>
                </li>


                <li class="col-1-3">
                    <div class="mini-box">
                    Campagna di coupon
                    <select name="couponCampaign" class="filter" >
                        <option value="">Tutte</option>
                        {% for couponCampaignObj in couponCampaigns %}
                        <option value="{{couponCampaignObj.campaignName}}" {% if couponCampaign == couponCampaignObj.campaignName %} selected{% endif %}>{{couponCampaignObj.campaignName}}</option>
                        {% endfor %}
                    </select>

                    </div>
                </li>
                <li class="col-1-3">
                    <div class="mini-box">
                    Coupon
                    <input type="text" name="coupon" class="form-control" placeholder="Coupon" title="Coupon" value="{{ coupon }}" style="width:10rem" />
                    </div>
                </li>

                <li class="col-1-3">
                    <div class="mini-box">
                    Fattura
                    <select name="invoiceRequested" class="filter" >
                        <option value="">Tutte</option>
                        <option value="yes" {% if invoiceRequested == 'yes' %} selected{% endif %}>Richiesta fattura</option>
                        <option value="no" {% if invoiceRequested == 'no' %} selected{% endif %}>Non richiesta fattura</option>
                    </select>
                    </div>
                </li>

            {% block search_form_custom %}
            {% endblock search_form_custom %}
            </ol>

            <span class="input-group-btn">
                <input class="button-primary" type="submit" name="submit" value="Ricerca">
                <input class="button-secondary" type="submit" name="submit" value="Excel">
            </span>
        </div>
    </form>
{% endblock %}

{% block table_head %}

    {% include '@AdminCore/Tables/head.html.twig' with {
        rows: [
            { name: 'admin.order.single'|trans },
            { name: 'admin.order.field.date'|trans },
            { name: 'admin.order.field.customer'|trans },
            { name: 'admin.order.field.status'|trans },
            { name: 'admin.order.field.total'|trans },
        ],
        class: 'order',
    } %}

{% endblock table_head %}


{% block table_body_row %}
    {% set color = orderCoupons[entity.id].color %}

    <td style="background-color:{{color}}">
        <a href="{{ path('admin_order_edit', { id: entity.id }) }}" data-test="order-{{ entity.id }}">
            {{ 'admin.order.field.id'|trans({ '%id%': entity.id }) }}
        </a>
    </td>
    <td style="background-color:{{color}}">
        {% include 'AdminCartBundle:Order:date.html.twig' with { date: entity.createdAt } %}
    </td>
    <td style="background-color:{{color}}">
        {% if entity.customer is not null %}
            <a href="{{ path('admin_customer_edit', { id: entity.customer.id }) }}">
                {{ entity.customer }}
            </a>
        {% else %}
            Cliente non definito
        {% endif %}
    </td>
    <td style="background-color:{{color}}">
        <span class="label label-warning">
            {{ "common.order.states.#{entity.paymentStateLineStack.lastStateLine.name}"|trans }}
        </span>
        <span class="label label-info">
            {{ "common.order.states.#{entity.shippingStateLineStack.lastStateLine.name}"|trans }}
        </span>
    </td>
    <td style="background-color:{{color}}">
        {{ entity.amount|print_money }}
    </td>

{% endblock table_body_row %}


{% block table_paginator_links %}
    {{ knp_pagination_render(paginator) }}
        
  {#   {% if state == 'paid' %}
        {% set url = 'admin_order_list_paid' %}
    {% elseif state == 'unpaid' %}
        {% set url = 'admin_order_list_unpaid' %}
    {% else %}
        {% set url = 'admin_order_list' %}
    {% endif %}
    {{ parent() }}
 #}
{% endblock table_paginator_links %}
