{# RTI #}
<section id="prodotti">
	<div class="container">
		<div class="row text-center">
			<div class="col-md-12"><h2 class="bold">I NOSTRI PRODOTTI</h2></div>
		</div>
		<div class="row text-center pt30">
			<div class="col-md-4 col-xs-12 pt10"><a href="{{ url('store_subcategories_list', {'id': 8114}) }}"><img src="{{ asset('bundles/rtitemplate/images/icona_fiamma.png') }}"><h1>Ricambi Originali</h1></a></div>
			<div class="col-md-4 col-xs-12 pt10"><a href="#"><img src="{{ asset('bundles/rtitemplate/images/icona_fiamma.png') }}"><h1>Ricambi caldaie<br> e bruciatori</h1></a></div>
			<div class="col-md-4 col-xs-12 pt10"><a href="#"><img src="{{ asset('bundles/rtitemplate/images/icona_fiamma.png') }}"><h1>Materiale impianto<br> termico/solare</h1></a></div>
		</div>
		<div class="row text-center">
			<div class="col-md-4 col-xs-12 pt10"><a href="#"><img src="{{ asset('bundles/rtitemplate/images/icona_fiamma.png') }}"><h1>Condizionamento</h1></a></div>
			<div class="col-md-4 col-xs-12 pt10"><a href="#"><img src="{{ asset('bundles/rtitemplate/images/icona_fiamma.png') }}"><h1>Attrezzatura<br> e strumentazione</h1></a></div>
			<div class="col-md-4 col-xs-12 pt10"><a href="#"><img src="{{ asset('bundles/rtitemplate/images/icona_fiamma.png') }}"><h1>Ricambi stufe a pellet<br> e fumisteria</h1></a></div>
		</div>
	</div>
</section>