<div class="grid">
    <div class="col-1-3">
        <div id="upload-container" class="box-none">
            <h3 class="fw-n">Allegati</h3>
        </div>
    </div>
    <div class="col-2-3">
        <div class="box" data-fc-modules="image-delete">
            <div id="thumb-gallery-select" class="d-n">
                {{ form_row(form.attachments, { attr: { class: 'js-attachments-select', formType: formType } }) }}
            </div>
            <ul id="thumb-gallery" data-fc-modules="sortable" data-fc-input="{{ form.imagesSort.vars.id }}" class="thumbnail-group thumbnail-group-extended pl-s mb-n">
                {% for image in images %}
                    <li id="{{ image.id }}" class="attachment-item">
                        <a href="{{ imageView }}" class="group-images">
                            <span id="upload-attachment-image-filename-{{image.id}}">{{ image.filename }}</span>
                        </a>
                        <ul class="thumbnail-actions">
                            <li>
                                <a href="{{ path('admin_attachment_delete', { id: image.id }) }}{% if redirect_path is defined %}{{ '?redirect-path=' ~ redirect_path }}{% endif %}" class="icon-trash-o" data-fc-delete="{{ image.id }}"></a>
                            </li>
                        </ul>
                    </li>
                {% endfor %}
            </ul>
            <a href="{{ path('admin_attachment_upload', {'purchasableId': purchasableId}) }}" id="upload-attachment" class="button" image-type="attachment" data-fc-modules="upload-attachment">
                <i class="icon-file-image-o mr-s"></i> Upload allegato
            </a>
            <progress id="upload-attachment-progress" value="0" max="100" style="display: none"></progress>
        </div>
    </div>
</div>